/*
resources used to design this site:
- https://kyraweb.ca/trigger-link-click-on-hover-guide/
- for a potential easter egg: use the emoji cursor for a few seconds: https://codepen.io/tholman/pen/rxJpdQ
- 
*/

body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
}


.split-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.split-left,
.split-right {
    flex: 1;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0px;
}

.split-left {
    background-color: #3b3a41;
    color: #ffffff;
    border: 2px solid rgb(95, 156, 180);

}

h1 {
    font-family: sans-serif;
    text-align: center;
    line-height: 1pt;
    font-size: 42pt;
    font-weight: bold;
}

h1:hover{
    color: #f6f7fa;
    cursor: default
}
h2 {
    font-family: sans-serif;
    text-align: center;

    line-height: 1pt;
    font-size: 33pt;
    font-weight: bold;
    cursor: default
}
h2 a{
    text-decoration: none;
    cursor: default;
    &:hover, &:active { color: orangered; };
}
h2 a:visited{
    color: black;
    &:hover, &:active { color: orangered; };
}

h3 {
    font-family: sans-serif;
    text-align: left;
    margin-left: 10%;

    line-height: 1pt;
    font-size: 27pt;
    font-weight: bold;
    cursor: default
}
h2 a{
    text-decoration: none;
    cursor: default;
    &:hover, &:active { color: orangered; };
}
h2 a:visited{
    color: black;
    &:hover, &:active { color: orangered; };
}

p {
    line-height: 21pt;
    font-size:xx-large;
    font-family: monospace;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;

}


.split-right {
    background-color: #f6f7fa;
    color: #333333;
    border: 2px solid grey;

}

a{
    color:black;
    text-decoration: underline; 
    cursor: default;
    &:hover, &:visited, &:active { color: orangered;}
}

a:visited{
    color: black;
}

p a{
    text-decoration: underline;
    cursor: default;
    &:hover, &:active { color: orangered; };
}
p a:visited{
    color: black;
    &:hover, &:active { color: orangered; };
}

/*    transform: scale(1.05);
    border: 3px solid rgb(87, 128, 87);
*/
.split-left:hover {
    background-color: #313532;
}

@media (max-width: 768px) {
    .split-container {
        flex-direction: column;
    }

    .split-left,
    .split-right {
        margin: 5px;
        width: 95%;
        height: 48vh;
    }
}